<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>easy computer</title>
    <script src="vue2.6.10.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="num1">
        <select v-model="sel">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="num2">
        <input type="button" value="=" @click="cli">
        <input type="text" v-model="result">
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                num1: '0',
                num2: '0',
                result: '0',
                sel: '+'
            },
            methods: {
                cli() {
                    switch (this.sel) {
                        case '+':
                            this.result = parseInt(this.num1) + parseInt(this.num2);
                            break;
                        case '-':
                            this.result = parseInt(this.num1) - parseInt(this.num2);
                            break;
                        case '*':
                            this.result = parseInt(this.num1) * parseInt(this.num2);
                            break;
                        case '/':
                            this.result = parseInt(this.num1) / parseInt(this.num2);
                            break;
                    }

                }
            },
        })
    </script>
</body>

</html>